snippet linebreak
	--------------------------------------------------------------------------------

snippet box
	--------------------------------------------------------------------------------
	-- |
	-- Module    :  ${1:Module}
	-- Copyright :  (C) `strftime("%Y")` Yorick Laupa
	-- License   :  (see the file LICENSE)
	-- Maintainer:  Yorick Laupa <yo.eight@gmail.com>
	-- Stability :  experimental
	-- Portability: non-portable
	--
	--------------------------------------------------------------------------------
	module $1 where

	--------------------------------------------------------------------------------

snippet func
	--------------------------------------------------------------------------------
	${1:function} :: ${2:Type}
	$1 =

