snippet linebreak
	--------------------------------------------------------------------------------

snippet box
	--------------------------------------------------------------------------------
	-- |
	-- Module    :  ${1:Module}
	-- Copyright :  (C) `strftime("%Y")` Yorick Laupa
	-- License   :  (see the file LICENSE)
	-- Maintainer:  Yorick Laupa <yo.eight@gmail.com>
	-- Stability :  experimental
	-- Portability: non-portable
	--
	--------------------------------------------------------------------------------
	module $1 where

	--------------------------------------------------------------------------------

snippet func
	--------------------------------------------------------------------------------
	${1:function} :: ${2:Type}
	$1 ${3:params} = undefined${0}

snippet func0
	--------------------------------------------------------------------------------
	${1:function} :: ${2:Type}
	$1 = undefined${0}

snippet pragma
	{-# LANGUAGE ${1:Pragma} #-}

snippet data
	--------------------------------------------------------------------------------
	data ${1:Data} =
	  $1 {$0}
